# Домашнее задание к лекции "Базовые понятия статистики"

Будем осуществлять работу с <code>[непростым набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv)</code> о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

## Задание 1. Загрузка данных

Изучить представленный набор данных на основе<code>[описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names)</code>, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [508]:
import pandas as pd
import numpy as np

In [525]:
# Загружаем csv файл по ссылке. Сразу задаем название столбцов и сообщаем, что '?' значит NaN
# В получившемся датафрейме целочисленные значения стали типом float. В Slack-е спросил что с этим делать - мне 
# сказали не заморачиваться
data  = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', 
                    names = ['surgery?', 'Age', 'Hospital Number', 'rectal temperature', 'pulse',
                            'respiratory rate', 'temperature of extremities', 'peripheral pulse',
                            'mucous membranes', 'capillary refill time', 'pain', 'peristalsis',
                            'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH',
                            'rectal examination', 'abdomen', 'packed cell volume', 'total protein', 
                            'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome',
                            'surgical lesion?', 'site of lesion', 'type of lesion', 'subtype of lesion',
                            'specific code of lesion', 'cp_data'], na_values = '?')
data

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,site of lesion,type of lesion,subtype of lesion,specific code of lesion,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,8.4,NaN,NaN,2.0,2,11300,0,0,2,NaN
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,85.0,2.0,2.0,3.0,2,2208,0,0,2,NaN
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,6.7,NaN,NaN,1.0,2,0,0,0,1,NaN
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,7.2,3.0,5.3,2.0,1,2208,0,0,1,NaN
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,7.4,NaN,NaN,2.0,2,4300,0,0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,65.0,NaN,NaN,3.0,2,3205,0,0,2,NaN
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,NaN,3.0,3.3,3.0,1,2208,0,0,1,NaN
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,6.8,NaN,NaN,2.0,1,3205,0,0,2,NaN
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,6.0,3.0,3.4,1.0,1,2208,0,0,1,NaN
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,62.0,1.0,1.0,3.0,2,6112,0,0,2,NaN

In [526]:
# Оставляем только нужные нам столбцы
result_data = data.loc[:, ['surgery?', 'Age', 'rectal temperature', 'pulse',
                           'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
result_data

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

## Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [527]:
# Проанализируем данные в столбцах таблицы:
# surgery? (хирургия) - качественные номинальные. Две категории: 1 - сделана операция, 2 - лечили без хирургии
# Age (возраст) - качественные номинальные. В столбце Age наблюдаем два варианта значений 1 и 9. Согласно информации 
# из файла horse_data.names в этом столбце допустимы значения: 1 = Adult horse 2 = Young. Скорее всего вместо 9-ок 
# должны быть 2-ки. Произведем замену:
result_data.loc[result_data['Age'] == 9, 'Age'] = 2
# Далее по столбцам:
# rectal temperature (ректальная температура)  - количественные непрерывные
# pulse (пульс) - количественные непрерывные
# respiratory rate (частота дыхания) - количественные непрерывные
# temperature of extremities (температура конечностей) - качественные номинальные. Четыре категории: 1 = Normal
#                                                                                                    2 = Warm
#                                                                                                    3 = Cool
#                                                                                                    4 = Cold
# pain (боль) - качественные номинальные. Пять категорий: 1 = alert, no pain
#                                                         2 = depressed
#                                                         3 = intermittent mild pain
#                                                         4 = intermittent severe pain
#                                                         5 = continuous severe pain
# outcome (последствие) - качественные номинальные. Три категории: 1 = lived
#                                                                  2 = died
#                                                                  3 = was euthanized                                                                                                  
# 
# Расчет базовых статистик имеет смысл для количественных данных. Выделим их в отдельный датафрейм
calculated_data = result_data.loc[:, ['rectal temperature', 'pulse', 'respiratory rate']]
calculated_data

     rectal temperature  pulse  respiratory rate
0                  38.5   66.0              28.0
1                  39.2   88.0              20.0
2                  38.3   40.0              24.0
3                  39.1  164.0              84.0
4                  37.3  104.0              35.0
..                  ...    ...               ...
295                 NaN  120.0              70.0
296                37.2   72.0              24.0
297                37.5   72.0              30.0
298                36.5  100.0              24.0
299                37.2   40.0              20.0

[300 rows x 3 columns]

### Минимум, максимум и размах

In [528]:
calculated_data.min()

rectal temperature    35.4
pulse                 30.0
respiratory rate       8.0
dtype: float64

In [529]:
calculated_data.max()

rectal temperature     40.8
pulse                 184.0
respiratory rate       96.0
dtype: float64

In [530]:
# размах – разница между минимальным и максимальным значением
result_data_range = calculated_data.max() - calculated_data.min()
result_data_range

rectal temperature      5.4
pulse                 154.0
respiratory rate       88.0
dtype: float64

### Среднеарифметическое

In [531]:
calculated_data.mean()

rectal temperature    38.167917
pulse                 71.913043
respiratory rate      30.417355
dtype: float64

### Мода

In [532]:
# Мода - значение, встречающееся чаще всего. Ее можно получить для всех значений, в т.ч. качественных
result_data.mode()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,38.0,48.0,20.0,3.0,3.0,1.0

### Медиана

In [533]:
# Медиана - число, половина из элементов выборки больше которого, а другая половина – меньше. Считаем для количественных данных,
# т.к. глупо считать медиану для цифр, являющихся лишь обозначением категорий.
calculated_data.median()

rectal temperature    38.2
pulse                 64.0
respiratory rate      24.5
dtype: float64

### СКО

In [534]:
calculated_data.std()

rectal temperature     0.732289
pulse                 28.630557
respiratory rate      17.642231
dtype: float64

### Дисперсия

In [535]:
calculated_data.var()

rectal temperature      0.536247
pulse                 819.708775
respiratory rate      311.248328
dtype: float64

### Квантили

In [536]:
calculated_data.quantile([0.25, 0.5, 0.75])

      rectal temperature  pulse  respiratory rate
0.25                37.8   48.0              18.5
0.50                38.2   64.0              24.5
0.75                38.5   88.0              36.0

In [537]:
# Почти все расчеты в одной таблице:
calculated_data.describe()

       rectal temperature       pulse  respiratory rate
count          240.000000  276.000000        242.000000
mean            38.167917   71.913043         30.417355
std              0.732289   28.630557         17.642231
min             35.400000   30.000000          8.000000
25%             37.800000   48.000000         18.500000
50%             38.200000   64.000000         24.500000
75%             38.500000   88.000000         36.000000
max             40.800000  184.000000         96.000000

### Выбросы

In [97]:
# Выбросы опять же имеет смысл считатть только для количественных данных

In [538]:
def outliers (column):
    """
    Функция для выявления выбросов в полученном столбце column через межквартльный размах. 
    Значения NaN также за пределами размаха, но их мы считать выбросам не будем, т.к. это просто отсутствие информации.
    Поэтому строки с NAN отражать в результатах не будем
    """
#     column = column.dropna()
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    remove_outliers = result_data[column.between(lower_bound, upper_bound, inclusive=True)]
    
    return pd.concat([result_data, remove_outliers]).drop_duplicates(keep=False).dropna()

In [539]:
# Для столбца rectal temperature выбросами будут значения меньше 36.75 и больше 39.55
outliers(result_data['rectal temperature'])

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
80,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
91,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
118,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
251,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
259,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [540]:
# Для столбца pulse выбросами будут значения больше 148. Нижняя расчетная граница диапазона -12 для пульса бессмысленна.
# В любом случае у живой лошади значение пульса должно быть больше нуля.
outliers(result_data['pulse'])

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [541]:
# Для столбца respiratory rate выбросами будут значения больше 62.25. Аналогично пульсу нижняя расчетная граница не имеет смысла
outliers(result_data['respiratory rate'])

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0

## Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [542]:
# Количество пропусков для столбца surgery?'. В этом столбце цифрами 1 и 2 зашифрованы две категории: была или
# нет операция. Чтобы не было пропуска здесь и в других категориальных столбцах можно ввести новую категорию 0 = no information
# Замена NaN на 0 не должна ни на что повлиять, т.к. эти столбцы не используются для математических расчетов. При этом мы 
# мы сохраним понимание того, что для того или иного показателя информация отсутствовала
#Для каждого столбца будем фильровать датафрейм по наличию NaN
result_data.loc[pd.isna(result_data['surgery?']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [543]:
# Считаем количество пропусков в столбце 'surgery?':
result_data['surgery?'].isna().sum()

1

In [544]:
# В столбце Age пропуски не обнаружены:
result_data.loc[pd.isna(result_data['Age']), :]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [545]:
# Фильтруем датафрейм для столбца rectal temperature:
result_data.loc[pd.isna(result_data['rectal temperature']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
34,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
65,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
86,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
101,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
110,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
145,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
167,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
178,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
219,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
245,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
272,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
282,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [397]:
# Считаем количество пропусков в столбце rectal temperature:
result_data['rectal temperature'].isna().sum()

60

In [546]:
# Фильтруем датафрейм для столбца pulse:
result_data.loc[pd.isna(result_data['pulse']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [547]:
# Считаем количество пропусков в столбце pulse:
result_data['pulse'].isna().sum()

24

In [548]:
# Фильтруем датафрейм для столбца respiratory rate:
result_data.loc[pd.isna(result_data['respiratory rate']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
32,1.0,1,37.2,60.0,NaN,2.0,3.0,1.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
38,2.0,1,38.6,52.0,NaN,1.0,3.0,1.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
50,2.0,1,38.6,46.0,NaN,1.0,1.0,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
61,2.0,1,38.5,60.0,NaN,2.0,1.0,1.0
66,2.0,1,37.9,72.0,NaN,1.0,3.0,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
137,1.0,1,38.0,48.0,NaN,1.0,1.0,1.0
138,2.0,1,38.0,56.0,NaN,1.0,1.0,1.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
146,1.0,1,38.2,48.0,NaN,1.0,3.0,1.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
164,1.0,1,38.7,76.0,NaN,1.0,3.0,1.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
179,2.0,1,38.5,100.0,NaN,3.0,4.0,3.0
188,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
201,1.0,1,38.5,86.0,NaN,1.0,4.0,2.0
205,2.0,1,38.5,100.0,NaN,3.0,4.0,3.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
238,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
245,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
249,2.0,1,38.2,48.0,NaN,2.0,3.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
256,1.0,1,37.5,72.0,NaN,2.0,2.0,3.0
271,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [549]:
# Считаем количество пропусков в столбце respiratory rate:
result_data['respiratory rate'].isna().sum()

58

In [550]:
# Фильтруем датафрейм для столбца temperature of extremities:
result_data.loc[pd.isna(result_data['temperature of extremities']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
90,2.0,1,38.0,52.0,16.0,NaN,2.0,1.0
95,1.0,1,37.3,48.0,20.0,NaN,3.0,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
121,1.0,1,38.3,80.0,40.0,NaN,4.0,3.0
128,1.0,1,37.4,84.0,20.0,NaN,2.0,3.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
149,2.0,1,38.7,48.0,24.0,NaN,1.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
181,2.0,1,37.8,48.0,14.0,NaN,3.0,1.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
210,1.0,1,37.9,68.0,20.0,NaN,2.0,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
239,1.0,1,38.1,70.0,22.0,NaN,5.0,3.0
260,2.0,1,38.0,40.0,25.0,NaN,4.0,1.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
263,1.0,1,37.1,75.0,36.0,NaN,4.0,2.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
280,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
289,1.0,1,38.0,50.0,36.0,NaN,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [551]:
# Считаем количество пропусков в столбце temperature of extremities:
result_data['temperature of extremities'].isna().sum()

56

In [552]:
# Фильтруем датафрейм для столбца pain:
result_data.loc[pd.isna(result_data['pain']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
27,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
94,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
157,1.0,1,37.8,60.0,24.0,1.0,NaN,3.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
170,2.0,1,37.5,44.0,20.0,1.0,NaN,1.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
186,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
188,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
195,2.0,1,38.0,44.0,12.0,3.0,NaN,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
213,1.0,1,37.6,45.0,12.0,3.0,NaN,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
234,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
243,1.0,1,38.4,92.0,20.0,1.0,NaN,1.0
257,1.0,1,38.7,96.0,28.0,3.0,NaN,2.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
269,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [553]:
# Считаем количество пропусков в столбце pain:
result_data['pain'].isna().sum()

55

In [554]:
result_data.loc[pd.isna(result_data['outcome']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [409]:
result_data['outcome'].isna().sum()

1

In [556]:
# Есть строки, в которых отсутствуют значения сразу в 5 столбцах из 8. Оставшиеся значения в этих
# строках содержат информацию: оперировалась/не оперировалась, молодая/взрослая, умерла/не умерла.
# Мало информативно и не применимо для расчетов. Удалим эти строки.
new_result_data = result_data.dropna(how = 'all', subset = ['rectal temperature', 'pulse', 'respiratory rate', 
                             'temperature of extremities', 'pain'])
new_result_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    291 non-null    float64
 1   Age                         292 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     291 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 20.5 KB

In [557]:
# Мы удалили 8 малоинформативных строк. Теперь в столбцах с категориальными данными заменим NaN на 0
new_result_data['surgery?'].fillna('0', inplace=True)
new_result_data['temperature of extremities'].fillna('0', inplace=True)
new_result_data['pain'].fillna('0', inplace=True)
new_result_data['outcome'].fillna('0', inplace=True)
new_result_data

D:\Data_science\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,0,0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,0,0,3.0

In [458]:
# У нас остались пропуски NaN только в трех столбцах, содержащих количественные данные.
# Причем есть строки, в которых отсутствуют данные по всем этим трем столбцам. Возможно такие
# строки тоже можно удалить. Но попробуем заменить пропуски значениями.

In [558]:
# Для столбца rectal temperature заменим пропуски средним и сравним как изменятся расчетные показатели
new_result_data_mean = new_result_data.copy()
new_result_data_mean['rectal temperature'].fillna(new_result_data_mean['rectal temperature'].mean(), inplace=True)
print(new_result_data['rectal temperature'].describe())
print('-----------------------------------')
print(new_result_data_mean['rectal temperature'].describe())

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64
-----------------------------------
count    292.000000
mean      38.167917
std        0.663643
min       35.400000
25%       37.875000
50%       38.167917
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

In [473]:
# После замены пропусков средним уменьшилось СКО на 0.068646, 
# сместились 25% и 50% квантили на 0.075 и на 0.032083 соответственно

In [559]:
# Для столбца rectal temperature заменим пропуски медианой и сравним как изменятся расчетные показатели
new_result_data_median = new_result_data.copy()
new_result_data_median['rectal temperature'].fillna(new_result_data_median['rectal temperature'].median(), inplace=True)
print(new_result_data['rectal temperature'].describe())
print('-----------------------------------')
print(new_result_data_median['rectal temperature'].describe())

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64
-----------------------------------
count    292.000000
mean      38.173630
std        0.663757
min       35.400000
25%       37.875000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

In [560]:
# После замены пропусков медианой уменьшилось СКО на 0.068532, 
# сместился 25% квантиль на 0.075 и увеличилось среднее арифметическое на 0.005713. Т.к. на мой взгляд
# в этом случае замена пропусков внесла меньше искажений в расчетные показатели, то в итоговом
# датафрейме для столбца rectal temperature заменю пропуски медианой.
new_result_data['rectal temperature'].fillna(new_result_data['rectal temperature'].median(), inplace=True)

D:\Data_science\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [561]:
# Аналогичные операции произведем для столбца pulse
new_result_data_mean = new_result_data.copy()
new_result_data_mean['pulse'].fillna(new_result_data_mean['pulse'].mean(), inplace=True)
print(new_result_data['pulse'].describe())
print('-----------------------------------')
print(new_result_data_mean['pulse'].describe())

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64
-----------------------------------
count    292.000000
mean      71.913043
std       27.832335
min       30.000000
25%       48.000000
50%       66.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [ ]:
# Искажения: по СКО =-0.798222, по 50% = 2

In [562]:
new_result_data_median = new_result_data.copy()
new_result_data_median['pulse'].fillna(new_result_data_median['pulse'].median(), inplace=True)
print(new_result_data['pulse'].describe())
print('-----------------------------------')
print(new_result_data_median['pulse'].describe())

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64
-----------------------------------
count    292.000000
mean      71.479452
std       27.890734
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [563]:
# Искажения: по СКО =-0.739823, по среднему = -0.433591. Я не специалист, но все-таки считаю, что
# изменение среднего значения пульса (ударов в минуту полагаю) на 0.433591 не критично. При этом
# распределение по квантилям не пострадало. В итоговом фрейме также пропуски буду заменять медианой
new_result_data['pulse'].fillna(new_result_data['pulse'].median(), inplace=True)

In [564]:
# Аналогичные операции произведем для столбца respiratory rate
new_result_data_mean = new_result_data.copy()
new_result_data_mean['respiratory rate'].fillna(new_result_data_mean['respiratory rate'].mean(), inplace=True)
print(new_result_data['respiratory rate'].describe())
print('-----------------------------------')
print(new_result_data_mean['respiratory rate'].describe())

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64
-----------------------------------
count    292.000000
mean      30.417355
std       16.055193
min        8.000000
25%       20.000000
50%       30.000000
75%       35.000000
max       96.000000
Name: respiratory rate, dtype: float64

In [565]:
# Искажения: по СКО =-1.587038, по 25% = 1.5, по 50% = 5.5, по 75% = -1

In [566]:
new_result_data_median = new_result_data.copy()
new_result_data_median['respiratory rate'].fillna(new_result_data_median['respiratory rate'].median(), inplace=True)
print(new_result_data['respiratory rate'].describe())
print('-----------------------------------')
print(new_result_data_median['respiratory rate'].describe())

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64
-----------------------------------
count    292.000000
mean      29.404110
std       16.209731
min        8.000000
25%       20.000000
50%       24.500000
75%       35.000000
max       96.000000
Name: respiratory rate, dtype: float64

In [567]:
# Искажения: по СКО =-1.4325, по 25% = 1.5, по 50% = 0, по 75% = -1, по среднему = -1.013245
# Здесь наверно тоже пренебрегу искажением среднего, зато распределение по квантилям ближе к исходному.
# В итоговом фрейме также пропуски буду заменять медианой
new_result_data['respiratory rate'].fillna(new_result_data['respiratory rate'].median(), inplace=True)

In [568]:
# Итоговый датафрейм без пропусков:
new_result_data

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,0,0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.2,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,0,0,3.0

In [569]:
new_result_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    292 non-null    object
 1   Age                         292 non-null    int64
 2   rectal temperature          292 non-null    float64
 3   pulse                       292 non-null    float64
 4   respiratory rate            292 non-null    float64
 5   temperature of extremities  292 non-null    object
 6   pain                        292 non-null    object
 7   outcome                     292 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 20.5+ KB