# Домашнее задание к лекции "Базовые понятия статистики"

------------------------------------------------------------------------------------------------

<code>[***Нажмите сюда, чтобы сразу перейти к изменениям в работе после возвращения на доработку***](#Изменения)</code>

------------------------------------------------------------------------------------------------

Будем осуществлять работу с <code>[непростым набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv)</code> о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

## Задание 1. Загрузка данных

Изучить представленный набор данных на основе<code>[описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names)</code>, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Загружаем csv файл по ссылке. Сразу задаем название столбцов и сообщаем, что '?' значит NaN
# В получившемся датафрейме целочисленные значения стали типом float. В Slack-е спросил что с этим делать - мне 
# сказали не заморачиваться
data  = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', 
                    names = ['surgery?', 'Age', 'Hospital Number', 'rectal temperature', 'pulse',
                            'respiratory rate', 'temperature of extremities', 'peripheral pulse',
                            'mucous membranes', 'capillary refill time', 'pain', 'peristalsis',
                            'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH',
                            'rectal examination', 'abdomen', 'packed cell volume', 'total protein', 
                            'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome',
                            'surgical lesion?', 'site of lesion', 'type of lesion', 'subtype of lesion',
                            'specific code of lesion', 'cp_data'], na_values = '?')
data

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,site of lesion,type of lesion,subtype of lesion,specific code of lesion,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,8.4,NaN,NaN,2.0,2,11300,0,0,2,NaN
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,85.0,2.0,2.0,3.0,2,2208,0,0,2,NaN
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,6.7,NaN,NaN,1.0,2,0,0,0,1,NaN
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,7.2,3.0,5.3,2.0,1,2208,0,0,1,NaN
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,7.4,NaN,NaN,2.0,2,4300,0,0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,65.0,NaN,NaN,3.0,2,3205,0,0,2,NaN
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,NaN,3.0,3.3,3.0,1,2208,0,0,1,NaN
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,6.8,NaN,NaN,2.0,1,3205,0,0,2,NaN
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,6.0,3.0,3.4,1.0,1,2208,0,0,1,NaN
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,62.0,1.0,1.0,3.0,2,6112,0,0,2,NaN

In [5]:
# Оставляем только нужные нам столбцы
result_data = data.loc[:, ['surgery?', 'Age', 'rectal temperature', 'pulse',
                           'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
result_data.head(60)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
11,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
12,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
14,1.0,1,38.2,76.0,28.0,3.0,3.0,1.0
15,1.0,1,37.6,96.0,48.0,3.0,5.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
18,1.0,1,37.6,64.0,21.0,1.0,2.0,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
21,2.0,1,38.4,48.0,16.0,1.0,1.0,1.0
22,1.0,1,38.6,42.0,34.0,2.0,2.0,1.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
26,1.0,1,38.3,72.0,30.0,4.0,3.0,1.0
27,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
30,2.0,1,37.7,96.0,30.0,3.0,5.0,2.0
31,2.0,1,37.2,108.0,12.0,3.0,2.0,3.0
32,1.0,1,37.2,60.0,NaN,2.0,3.0,1.0
33,1.0,1,38.2,64.0,28.0,1.0,3.0,1.0
34,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
38,2.0,1,38.6,52.0,NaN,1.0,3.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
42,2.0,1,38.0,60.0,12.0,3.0,3.0,1.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
46,1.0,1,37.9,60.0,15.0,3.0,5.0,1.0
47,2.0,1,37.5,48.0,16.0,1.0,1.0,1.0
48,1.0,1,38.9,80.0,44.0,3.0,2.0,2.0
49,2.0,1,37.2,84.0,48.0,3.0,4.0,2.0
50,2.0,1,38.6,46.0,NaN,1.0,1.0,1.0
51,1.0,1,37.4,84.0,36.0,1.0,3.0,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0

## Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [6]:
# Проанализируем данные в столбцах таблицы:
# surgery? (хирургия) - качественные номинальные. Две категории: 1 - сделана операция, 2 - лечили без хирургии
# Age (возраст) - качественные номинальные. В столбце Age наблюдаем два варианта значений 1 и 9. Согласно информации 
# из файла horse_data.names в этом столбце допустимы значения: 1 = Adult horse 2 = Young. Скорее всего вместо 9-ок 
# должны быть 2-ки. Произведем замену:
result_data.loc[result_data['Age'] == 9, 'Age'] = 2
# Далее по столбцам:
# rectal temperature (ректальная температура)  - количественные непрерывные
# pulse (пульс) - количественные непрерывные
# respiratory rate (частота дыхания) - количественные непрерывные
# temperature of extremities (температура конечностей) - качественные номинальные. Четыре категории: 1 = Normal (норма)
#                                                                                                    2 = Warm (теплая)
#                                                                                                    3 = Cool (прохладная)
#                                                                                                    4 = Cold (холодная)
# pain (боль) - качественные номинальные. Пять категорий: 1 = alert, no pain
#                                                         2 = depressed
#                                                         3 = intermittent mild pain
#                                                         4 = intermittent severe pain
#                                                         5 = continuous severe pain
# outcome (последствие) - качественные номинальные. Три категории: 1 = lived
#                                                                  2 = died
#                                                                  3 = was euthanized                                                                                                  
# 
# Расчет базовых статистик имеет смысл для количественных данных. Выделим их в отдельный датафрейм
calculated_data = result_data.loc[:, ['rectal temperature', 'pulse', 'respiratory rate']]
calculated_data

     rectal temperature  pulse  respiratory rate
0                  38.5   66.0              28.0
1                  39.2   88.0              20.0
2                  38.3   40.0              24.0
3                  39.1  164.0              84.0
4                  37.3  104.0              35.0
..                  ...    ...               ...
295                 NaN  120.0              70.0
296                37.2   72.0              24.0
297                37.5   72.0              30.0
298                36.5  100.0              24.0
299                37.2   40.0              20.0

[300 rows x 3 columns]

### Минимум, максимум и размах

In [7]:
calculated_data.min()

rectal temperature    35.4
pulse                 30.0
respiratory rate       8.0
dtype: float64

In [8]:
calculated_data.max()

rectal temperature     40.8
pulse                 184.0
respiratory rate       96.0
dtype: float64

In [9]:
# размах – разница между минимальным и максимальным значением
result_data_range = calculated_data.max() - calculated_data.min()
result_data_range

rectal temperature      5.4
pulse                 154.0
respiratory rate       88.0
dtype: float64

### Среднеарифметическое

In [10]:
calculated_data.mean()

rectal temperature    38.167917
pulse                 71.913043
respiratory rate      30.417355
dtype: float64

### Мода

In [11]:
# Мода - значение, встречающееся чаще всего. Ее можно получить для всех значений, в т.ч. качественных
result_data.mode()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,38.0,48.0,20.0,3.0,3.0,1.0

### Медиана

In [12]:
# Медиана - число, половина из элементов выборки больше которого, а другая половина – меньше. Считаем для количественных данных,
# т.к. глупо считать медиану для цифр, являющихся лишь обозначением категорий.
calculated_data.median()

rectal temperature    38.2
pulse                 64.0
respiratory rate      24.5
dtype: float64

### СКО

In [13]:
calculated_data.std()

rectal temperature     0.732289
pulse                 28.630557
respiratory rate      17.642231
dtype: float64

### Дисперсия

In [14]:
calculated_data.var()

rectal temperature      0.536247
pulse                 819.708775
respiratory rate      311.248328
dtype: float64

### Квантили

In [15]:
calculated_data.quantile([0.25, 0.5, 0.75])

      rectal temperature  pulse  respiratory rate
0.25                37.8   48.0              18.5
0.50                38.2   64.0              24.5
0.75                38.5   88.0              36.0

In [16]:
# Почти все расчеты в одной таблице:
calculated_data.describe()

       rectal temperature       pulse  respiratory rate
count          240.000000  276.000000        242.000000
mean            38.167917   71.913043         30.417355
std              0.732289   28.630557         17.642231
min             35.400000   30.000000          8.000000
25%             37.800000   48.000000         18.500000
50%             38.200000   64.000000         24.500000
75%             38.500000   88.000000         36.000000
max             40.800000  184.000000         96.000000

### Выбросы

In [97]:
# Выбросы опять же имеет смысл считатть только для количественных данных

In [17]:
def outliers (column):
    """
    Функция для выявления выбросов в полученном столбце column через межквартльный размах. 
    Значения NaN также за пределами размаха, но их мы считать выбросам не будем, т.к. это просто отсутствие информации.
    Поэтому строки с NAN отражать в результатах не будем
    """
#     column = column.dropna()
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    remove_outliers = result_data[column.between(lower_bound, upper_bound, inclusive=True)]
    
    return pd.concat([result_data, remove_outliers]).drop_duplicates(keep=False).dropna()

In [76]:
def outliers_border (column):
    """
    Функция для выявления границ межквартльного размаха.
    """
#     column = column.dropna()
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    lower_bound = round(q1 - (1.5 * iqr), 2) 
    upper_bound = round(q3 + (1.5 * iqr), 2)
    return [lower_bound, upper_bound]

In [18]:
# Для столбца rectal temperature выбросами будут значения меньше 36.75 и больше 39.55
outliers(result_data['rectal temperature'])

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
80,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
91,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
118,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
251,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
259,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [19]:
# Для столбца pulse выбросами будут значения больше 148. Нижняя расчетная граница диапазона -12 для пульса бессмысленна.
# В любом случае у живой лошади значение пульса должно быть больше нуля.
outliers(result_data['pulse'])

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [55]:
# Для столбца respiratory rate выбросами будут значения больше 62.25. Аналогично пульсу нижняя расчетная граница не имеет смысла
outliers(result_data['respiratory rate'])

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0

## Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.<a name="132"></a>

In [21]:
# Количество пропусков для столбца surgery?. В этом столбце цифрами 1 и 2 зашифрованы две категории: была или
# нет операция. 
#Для каждого столбца будем фильровать датафрейм по наличию NaN
result_data.loc[pd.isna(result_data['surgery?']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [22]:
# Считаем количество пропусков в столбце 'surgery?':
result_data['surgery?'].isna().sum()

1

In [516]:
# Для этой строки известно все, кроме информации от том, делали ли лошади операцию и выжила ли (это кстати тоже единственный
# пропуск для столбца outcome). Температоура почти нормальная (согласно справочной информации нормальная 37.8), но температура
# может быть снижена, когда животное находится в состоянии позднего шока. Пульс тоже не сильно отличается от нормального 
# значения 30-40. Частота дыхания хоть и выше нормального значения 8-10, но в справке говорится, что полезность этого 
# показателя сомнительна из-за больших колебний значений. А вот холодные конечности при относительно невысокой температуре 
# указывающие на возможный шок и наличие периодической сильной боли как бы намекают на то, что лошадь совсем не здорова.
# Склоняюсь думать, что лошадь не выжила. По поводу операции возьму наиболее частый для выборки случай - она была.
# Для этой строки заполню пропуски так: surgery? = 1, outcome = 2
result_data['surgery?'].fillna(1, inplace=True)
result_data['outcome'].fillna(2, inplace=True)
result_data.iloc[132, :]

surgery?                       1.0
Age                            1.0
rectal temperature            38.0
pulse                         48.0
respiratory rate              20.0
temperature of extremities     3.0
pain                           4.0
outcome                        2.0
Name: 132, dtype: float64

In [23]:
# В столбце Age пропуски не обнаружены:
result_data.loc[pd.isna(result_data['Age']), :]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [545]:
# Фильтруем датафрейм для столбца rectal temperature:
result_data.loc[pd.isna(result_data['rectal temperature']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
34,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
65,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
86,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
101,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
110,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
145,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
167,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
178,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
219,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
245,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
272,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
282,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [24]:
# Считаем количество пропусков в столбце rectal temperature:
result_data['rectal temperature'].isna().sum()

60

In [25]:
# Фильтруем датафрейм для столбца pulse:
result_data.loc[pd.isna(result_data['pulse']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [26]:
# Считаем количество пропусков в столбце pulse:
result_data['pulse'].isna().sum()

24

In [27]:
# Фильтруем датафрейм для столбца respiratory rate:
result_data.loc[pd.isna(result_data['respiratory rate']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
32,1.0,1,37.2,60.0,NaN,2.0,3.0,1.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
38,2.0,1,38.6,52.0,NaN,1.0,3.0,1.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
50,2.0,1,38.6,46.0,NaN,1.0,1.0,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
61,2.0,1,38.5,60.0,NaN,2.0,1.0,1.0
66,2.0,1,37.9,72.0,NaN,1.0,3.0,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
137,1.0,1,38.0,48.0,NaN,1.0,1.0,1.0
138,2.0,1,38.0,56.0,NaN,1.0,1.0,1.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
146,1.0,1,38.2,48.0,NaN,1.0,3.0,1.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
164,1.0,1,38.7,76.0,NaN,1.0,3.0,1.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
179,2.0,1,38.5,100.0,NaN,3.0,4.0,3.0
188,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
201,1.0,1,38.5,86.0,NaN,1.0,4.0,2.0
205,2.0,1,38.5,100.0,NaN,3.0,4.0,3.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
238,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
245,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
249,2.0,1,38.2,48.0,NaN,2.0,3.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
256,1.0,1,37.5,72.0,NaN,2.0,2.0,3.0
271,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [28]:
# Считаем количество пропусков в столбце respiratory rate:
result_data['respiratory rate'].isna().sum()

58

In [29]:
# Фильтруем датафрейм для столбца temperature of extremities:
result_data.loc[pd.isna(result_data['temperature of extremities']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
90,2.0,1,38.0,52.0,16.0,NaN,2.0,1.0
95,1.0,1,37.3,48.0,20.0,NaN,3.0,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
121,1.0,1,38.3,80.0,40.0,NaN,4.0,3.0
128,1.0,1,37.4,84.0,20.0,NaN,2.0,3.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
149,2.0,1,38.7,48.0,24.0,NaN,1.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
181,2.0,1,37.8,48.0,14.0,NaN,3.0,1.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
210,1.0,1,37.9,68.0,20.0,NaN,2.0,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
239,1.0,1,38.1,70.0,22.0,NaN,5.0,3.0
260,2.0,1,38.0,40.0,25.0,NaN,4.0,1.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
263,1.0,1,37.1,75.0,36.0,NaN,4.0,2.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
280,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
289,1.0,1,38.0,50.0,36.0,NaN,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [30]:
# Считаем количество пропусков в столбце temperature of extremities:
result_data['temperature of extremities'].isna().sum()

56

In [31]:
# Фильтруем датафрейм для столбца pain:
result_data.loc[pd.isna(result_data['pain']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
27,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
94,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
157,1.0,1,37.8,60.0,24.0,1.0,NaN,3.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
170,2.0,1,37.5,44.0,20.0,1.0,NaN,1.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
186,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
188,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
195,2.0,1,38.0,44.0,12.0,3.0,NaN,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
213,1.0,1,37.6,45.0,12.0,3.0,NaN,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
234,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
243,1.0,1,38.4,92.0,20.0,1.0,NaN,1.0
257,1.0,1,38.7,96.0,28.0,3.0,NaN,2.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
269,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [32]:
# Считаем количество пропусков в столбце pain:
result_data['pain'].isna().sum()

55

In [114]:
# В столбце outcome пропуск уже заменен значением, поэтому пропуски не найдены.
result_data.loc[pd.isna(result_data['outcome']), :]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [115]:
result_data['outcome'].isna().sum()

0

In [148]:
# Есть строки, в которых отсутствуют значения сразу в 5 столбцах из 8. Оставшиеся значения в этих
# строках содержат информацию: оперировалась/не оперировалась, молодая/взрослая, умерла/не умерла.
# Мало информативно и не применимо для расчетов. Удалим эти строки.
new_result_data = result_data.dropna(how = 'all', subset = ['rectal temperature', 'pulse', 'respiratory rate', 
                             'temperature of extremities', 'pain'])
new_result_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    292 non-null    float64
 1   Age                         292 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     292 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 20.5 KB

<a name="Изменения"></a>
# С этого места будут изменения после возвращения ДЗ на доработку
<code>[и еще немного изменений касательно заполнения пропуска в 132 строке](#132)</code>

Я все-таки считаю, что строки, в которых отсутствуют значения сразу в 5 столбцах из 8, нужно удалить. Поэтому далее работать буду с new_result_data

In [517]:
new_result_data

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [518]:
# рассмотрим группу молодых лошадей, которым не потребовалось хирургическое вмешательство (Age=2, Surgery=2)
temp_22 = new_result_data.loc[new_result_data['Age']==2].loc[new_result_data['surgery?']==2]

In [519]:
#temp_22 = new_result_data.loc[new_result_data['Age']==2]
print('Средние показатели: \n',temp_22.mean())
print('-----------------------------------')
print('Медианы: \n',temp_22.median())
print('-----------------------------------')
print('Границы межквартильного размаха для температуры: ',outliers_border(temp_22['rectal temperature']))
print('-----------------------------------')
print('Границы межквартильного размаха для пульса: ',outliers_border(temp_22['pulse']))
print('-----------------------------------')
print('Границы межквартильного размаха для частоты дыхания: ',outliers_border(temp_22['respiratory rate']))
print('-----------------------------------')
print(temp_22.describe())
temp_22

Средние показатели:
 surgery?                        2.000000
Age                             2.000000
rectal temperature             38.680000
pulse                         100.666667
respiratory rate               40.400000
temperature of extremities      1.333333
pain                            3.333333
outcome                         1.166667
dtype: float64
-----------------------------------
Медианы:
 surgery?                       2.0
Age                            2.0
rectal temperature            38.6
pulse                         91.0
respiratory rate              30.0
temperature of extremities     1.0
pain                           4.0
outcome                        1.0
dtype: float64
-----------------------------------
Границы межквартильного размаха для температуры:  [37.25, 40.05]
-----------------------------------
Границы межквартильного размаха для пульса:  [74.25, 112.25]
-----------------------------------
Границы межквартильного размаха для частоты дыхания:  [4.0, 68.0]
-----------------------------------
       surgery?  Age  rectal temperature       pulse  respiratory rate  \
count       6.0  6.0            5.000000    6.000000           5.00000
mean        2.0  2.0           38.680000  100.666667          40.40000
std         0.0  0.0            0.589067   24.744023          18.88915
min         2.0  2.0           38.000000   84.000000          28.00000
25%         2.0  2.0           38.300000   88.500000          28.00000
50%         2.0  2.0           38.600000   91.000000          30.00000
75%         2.0  2.0           39.000000   98.000000          44.00000
max         2.0  2.0           39.500000  150.000000          72.00000

       temperature of extremities      pain   outcome
count                    3.000000  3.000000  6.000000
mean                     1.333333  3.333333  1.166667
std                      0.577350  2.081666  0.408248
min                      1.000000  1.000000  1.000000
25%                      1.000000  2.500000  1.000000
50%                      1.000000  4.000000  1.000000
75%                      1.500000  4.500000  1.000000
max                      2.000000  5.000000  2.000000

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0

In [521]:
# рассмотрим группу молодых лошадей, которым сделали операцию. (Age=2, Surgery=1)
temp_21 = new_result_data.loc[new_result_data['Age']==2].loc[new_result_data['surgery?']==1]

In [522]:
print('Средние показатели: \n',temp_21.mean())
print('-----------------------------------')
print('Медианы: \n',temp_21.median())
print('-----------------------------------')
print('Границы межквартильного размаха для температуры: ',outliers_border(temp_21['rectal temperature']))
print('-----------------------------------')
print('Границы межквартильного размаха для пульса: ',outliers_border(temp_21['pulse']))
print('-----------------------------------')
print('Границы межквартильного размаха для частоты дыхания: ',outliers_border(temp_21['respiratory rate']))
print('-----------------------------------')
print(temp_21.describe())
temp_21

Средние показатели:
 surgery?                        1.000000
Age                             2.000000
rectal temperature             38.633333
pulse                         131.875000
respiratory rate               59.333333
temperature of extremities      2.307692
pain                            3.071429
outcome                         1.687500
dtype: float64
-----------------------------------
Медианы:
 surgery?                        1.0
Age                             2.0
rectal temperature             38.6
pulse                         129.0
respiratory rate               60.0
temperature of extremities      3.0
pain                            3.0
outcome                         2.0
dtype: float64
-----------------------------------
Границы межквартильного размаха для температуры:  [37.35, 39.75]
-----------------------------------
Границы межквартильного размаха для пульса:  [79.5, 187.5]
-----------------------------------
Границы межквартильного размаха для частоты дыхания:  [-28.0, 148.0]
-----------------------------------
       surgery?   Age  rectal temperature       pulse  respiratory rate  \
count      16.0  16.0           15.000000   16.000000         15.000000
mean        1.0   2.0           38.633333  131.875000         59.333333
std         0.0   0.0            0.476095   25.690141         24.031725
min         1.0   2.0           38.000000   84.000000         20.000000
25%         1.0   2.0           38.250000  120.000000         38.000000
50%         1.0   2.0           38.600000  129.000000         60.000000
75%         1.0   2.0           38.850000  147.000000         82.000000
max         1.0   2.0           39.700000  184.000000         96.000000

       temperature of extremities       pain   outcome
count                   13.000000  14.000000  16.00000
mean                     2.307692   3.071429   1.68750
std                      1.109400   1.071612   0.60208
min                      1.000000   2.000000   1.00000
25%                      1.000000   2.000000   1.00000
50%                      3.000000   3.000000   2.00000
75%                      3.000000   3.750000   2.00000
max                      4.000000   5.000000   3.00000

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,2,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,2,38.1,136.0,48.0,3.0,5.0,2.0
212,1.0,2,38.9,120.0,30.0,1.0,3.0,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,2,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [523]:
# рассмотрим группу взрослых лошадей, которым не потребовалось хирургическое вмешательство (Age=1, Surgery=2)
temp_12 = new_result_data.loc[new_result_data['Age']==1].loc[new_result_data['surgery?']==2]

In [524]:
print('Средние показатели: \n',temp_12.mean())
print('-----------------------------------')
print('Медианы: \n',temp_12.median())
print('-----------------------------------')
print('Границы межквартильного размаха для температуры: ',outliers_border(temp_12['rectal temperature']))
print('-----------------------------------')
print('Границы межквартильного размаха для пульса: ',outliers_border(temp_12['pulse']))
print('-----------------------------------')
print('Границы межквартильного размаха для частоты дыхания: ',outliers_border(temp_12['respiratory rate']))
print('-----------------------------------')
print(temp_12.describe())
temp_12

Средние показатели:
 surgery?                       2.000000
Age                            1.000000
rectal temperature            38.178723
pulse                         63.495238
respiratory rate              25.358696
temperature of extremities     2.230000
pain                           2.428571
outcome                        1.464286
dtype: float64
-----------------------------------
Медианы:
 surgery?                       2.0
Age                            1.0
rectal temperature            38.2
pulse                         54.0
respiratory rate              24.0
temperature of extremities     2.0
pain                           2.0
outcome                        1.0
dtype: float64
-----------------------------------
Границы межквартильного размаха для температуры:  [36.6, 39.8]
-----------------------------------
Границы межквартильного размаха для пульса:  [0.0, 128.0]
-----------------------------------
Границы межквартильного размаха для частоты дыхания:  [-8.0, 56.0]
-----------------------------------
       surgery?    Age  rectal temperature       pulse  respiratory rate  \
count     112.0  112.0           94.000000  105.000000         92.000000
mean        2.0    1.0           38.178723   63.495238         25.358696
std         0.0    0.0            0.762547   23.319323         11.297750
min         2.0    1.0           36.000000   36.000000          9.000000
25%         2.0    1.0           37.800000   48.000000         16.000000
50%         2.0    1.0           38.200000   54.000000         24.000000
75%         2.0    1.0           38.600000   80.000000         32.000000
max         2.0    1.0           40.300000  130.000000         68.000000

       temperature of extremities       pain     outcome
count                  100.000000  98.000000  112.000000
mean                     2.230000   2.428571    1.464286
std                      0.993463   1.226847    0.746506
min                      1.000000   1.000000    1.000000
25%                      1.000000   1.000000    1.000000
50%                      2.000000   2.000000    1.000000
75%                      3.000000   3.000000    2.000000
max                      4.000000   5.000000    3.000000

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
...,...,...,...,...,...,...,...,...
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
286,2.0,1,37.8,82.0,12.0,3.0,4.0,3.0
290,2.0,1,38.6,45.0,16.0,2.0,1.0,1.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0

In [525]:
# рассмотрим группу взрослых лошадей, которым сделали операцию (Age=1, Surgery=1)
temp_11 = new_result_data.loc[new_result_data['Age']==1].loc[new_result_data['surgery?']==1]

In [526]:
print('Средние показатели: \n',temp_11.mean())
print('-----------------------------------')
print('Медианы: \n',temp_11.median())
print('-----------------------------------')
print('Границы межквартильного размаха для температуры: ',outliers_border(temp_11['rectal temperature']))
print('-----------------------------------')
print('Границы межквартильного размаха для пульса: ',outliers_border(temp_11['pulse']))
print('-----------------------------------')
print('Границы межквартильного размаха для частоты дыхания: ',outliers_border(temp_11['respiratory rate']))
print('-----------------------------------')
print(temp_11.describe())
temp_11

Средние показатели:
 surgery?                       1.000000
Age                            1.000000
rectal temperature            38.084127
pulse                         70.248322
respiratory rate              30.276923
temperature of extremities     2.468750
pain                           3.323077
outcome                        1.626582
dtype: float64
-----------------------------------
Медианы:
 surgery?                       1.0
Age                            1.0
rectal temperature            38.1
pulse                         66.0
respiratory rate              24.0
temperature of extremities     3.0
pain                           3.0
outcome                        1.0
dtype: float64
-----------------------------------
Границы межквартильного размаха для температуры:  [36.65, 39.45]
-----------------------------------
Границы межквартильного размаха для пульса:  [-7.0, 145.0]
-----------------------------------
Границы межквартильного размаха для частоты дыхания:  [-4.0, 60.0]
-----------------------------------
       surgery?    Age  rectal temperature       pulse  respiratory rate  \
count     158.0  158.0          126.000000  149.000000        130.000000
mean        1.0    1.0           38.084127   70.248322         30.276923
std         0.0    0.0            0.715923   24.044414         17.272560
min         1.0    1.0           35.400000   30.000000          8.000000
25%         1.0    1.0           37.700000   50.000000         20.000000
50%         1.0    1.0           38.100000   66.000000         24.000000
75%         1.0    1.0           38.400000   88.000000         36.000000
max         1.0    1.0           40.800000  140.000000         96.000000

       temperature of extremities        pain     outcome
count                  128.000000  130.000000  158.000000
mean                     2.468750    3.323077    1.626582
std                      1.071738    1.252689    0.752780
min                      1.000000    1.000000    1.000000
25%                      1.000000    2.000000    1.000000
50%                      3.000000    3.000000    1.000000
75%                      3.000000    4.000000    2.000000
max                      4.000000    5.000000    3.000000

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
12,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
...,...,...,...,...,...,...,...,...
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [527]:
# У молодых лошадей как с операцией, так и без нее среднее значение (и медиана тоже) ректальной температуры примерно на пол  
# градуса выше, чем у взрослых.
# Пульс у молодых лошадей занчительно выше, чем у взрослых, причем у молодых с хирургией пульс на треть выше, чем без нее.
# То же самое наблюдается и для частоты дыхания - у молодых лошадей частота дыхания выше, чем у взрослых. И так же после
# операции частота дыхания выше (по крайней мере у молодых это сильно заметно).
#
# Заменим пропуски в столбцах 'rectal temperature', 'pulse' и 'respiratory rate' отдельно для каждой из 4-х рассмотренных 
# групп лошадей. Т.к. на среднее значение могут влиять выбросы, то в качестве замены буду использовать значение медианы в
# в каждой группе.
#
# Для молодых без операции:
temp_22['rectal temperature'].fillna(temp_22['rectal temperature'].median(), inplace=True)
temp_22['pulse'].fillna(temp_22['pulse'].median(), inplace=True)
temp_22['respiratory rate'].fillna(temp_22['respiratory rate'].median(), inplace=True)
temp_22

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
9,2.0,2,38.3,90.0,30.0,1.0,5.0,1.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
191,2.0,2,38.6,100.0,44.0,2.0,4.0,1.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0

In [528]:
# Для молодых с операцией
temp_21['rectal temperature'].fillna(temp_21['rectal temperature'].median(), inplace=True)
temp_21['pulse'].fillna(temp_21['pulse'].median(), inplace=True)
temp_21['respiratory rate'].fillna(temp_21['respiratory rate'].median(), inplace=True)
temp_21

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
16,1.0,2,38.6,128.0,36.0,3.0,4.0,2.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
75,1.0,2,39.7,100.0,60.0,3.0,2.0,3.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,2,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,2,38.1,136.0,48.0,3.0,5.0,2.0
212,1.0,2,38.9,120.0,30.0,1.0,3.0,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,2,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [529]:
# Для взрослых без операции
temp_12['rectal temperature'].fillna(temp_12['rectal temperature'].median(), inplace=True)
temp_12['pulse'].fillna(temp_12['pulse'].median(), inplace=True)
temp_12['respiratory rate'].fillna(temp_12['respiratory rate'].median(), inplace=True)
temp_12

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
5,2.0,1,38.2,54.0,24.0,2.0,2.0,1.0
8,2.0,1,38.2,80.0,36.0,3.0,4.0,3.0
...,...,...,...,...,...,...,...,...
284,2.0,1,38.5,54.0,24.0,1.0,3.0,1.0
286,2.0,1,37.8,82.0,12.0,3.0,4.0,3.0
290,2.0,1,38.6,45.0,16.0,2.0,1.0,1.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0

In [530]:
# Для взрослых с операцией
temp_11['rectal temperature'].fillna(temp_11['rectal temperature'].median(), inplace=True)
temp_11['pulse'].fillna(temp_11['pulse'].median(), inplace=True)
temp_11['respiratory rate'].fillna(temp_11['respiratory rate'].median(), inplace=True)
temp_11

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
7,1.0,1,38.1,60.0,24.0,3.0,NaN,2.0
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
12,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
...,...,...,...,...,...,...,...,...
293,1.0,1,38.1,78.0,24.0,3.0,NaN,3.0
295,1.0,1,38.1,120.0,70.0,4.0,2.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [531]:
# Объеденим всех взрослых лошадей в одну группу:
temp_1 = pd.concat([temp_11, temp_12])
temp_1 = temp_1.sort_index()
temp_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    270 non-null    float64
 1   Age                         270 non-null    int64
 2   rectal temperature          270 non-null    float64
 3   pulse                       270 non-null    float64
 4   respiratory rate            270 non-null    float64
 5   temperature of extremities  228 non-null    float64
 6   pain                        228 non-null    float64
 7   outcome                     270 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 19.0 KB

In [532]:
# В файле с описанием столбцов сказано, что для взрослых лошадей нормальное значение пульса 30-40. У животных с болезненными
# поражениями или страдающих от шока кровообращения может быть повышенная частота сердечных сокращений, т.е.можно предположить,
# что при высоком значении пульса могут быть так же такие признаки, как прохладные или холодные конечности, наличие каких-либо
# болезненных ощущений. Может быть эта информация будет полезна.
#
# В группе с взрослыми лошадьми отобразим пропуски для столбцов 'temperature of extremities' и 'pain'
temp_1.loc[pd.isna(temp_1['temperature of extremities']) | pd.isna(temp_1['pain']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,38.1,60.0,24.0,3.0,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
...,...,...,...,...,...,...,...,...
280,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
289,1.0,1,38.0,50.0,36.0,NaN,3.0,1.0
293,1.0,1,38.1,78.0,24.0,3.0,NaN,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [533]:
# Выделею подгруппу, в которой особи имели нормальную температуру конечностей ('temperature of extremities'=1),
# не испытывали боль ('pain'=1) и выжили ('outcome'=1), т.е. здоровых взрослых лошадей, и определим крайние границы значений
# ректальной температуры, пульса и частоты дыхания:
# 
temp_1.loc[(temp_1['temperature of extremities']==1) 
                             & (temp_1['pain']==1) & (temp_1['outcome']==1)].describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,17.000000,17.0,17.000000,17.000000,17.000000,17.0,17.0,17.0
mean,1.705882,1.0,38.047059,49.176471,20.588235,1.0,1.0,1.0
std,0.469668,0.0,0.350210,5.479910,6.393931,0.0,0.0,0.0
min,1.000000,1.0,37.300000,40.000000,10.000000,1.0,1.0,1.0
25%,1.000000,1.0,37.800000,48.000000,16.000000,1.0,1.0,1.0
50%,2.000000,1.0,38.000000,48.000000,24.000000,1.0,1.0,1.0
75%,2.000000,1.0,38.300000,54.000000,24.000000,1.0,1.0,1.0
max,2.000000,1.0,38.600000,60.000000,32.000000,1.0,1.0,1.0

In [534]:
# Всех лошадей со схожими показателями будем считать здоровыми. А остальных больными.Посмотрим пропуски:
temp_1_healthy = temp_1.loc[(temp_1['rectal temperature']>=37.3)
           & (temp_1['rectal temperature']<=38.6) 
           & (temp_1['pulse']>=40) & (temp_1['pulse']<=60) 
           & (temp_1['respiratory rate']>=10) 
           & (temp_1['respiratory rate']<=32)
           & (temp_1['outcome']==1)]
temp_1_sick =temp_1.loc[~((temp_1['rectal temperature']>=37.3)
           & (temp_1['rectal temperature']<=38.6) 
           & (temp_1['pulse']>=40) & (temp_1['pulse']<=60) 
           & (temp_1['respiratory rate']>=10) 
           & (temp_1['respiratory rate']<=32)
           & (temp_1['outcome']==1))]
# Посмотрим пропуски у здоровых:
temp_1_healthy.loc[pd.isna(temp_1['temperature of extremities']) | pd.isna(temp_1['pain']), :]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
27,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
68,2.0,1,38.2,52.0,16.0,1.0,NaN,1.0
81,1.0,1,37.3,40.0,24.0,NaN,2.0,1.0
90,2.0,1,38.0,52.0,16.0,NaN,2.0,1.0
94,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
95,1.0,1,37.3,48.0,20.0,NaN,3.0,1.0
129,1.0,1,38.4,49.0,24.0,NaN,NaN,1.0
170,2.0,1,37.5,44.0,20.0,1.0,NaN,1.0
181,2.0,1,37.8,48.0,14.0,NaN,3.0,1.0
188,1.0,1,38.5,60.0,24.0,1.0,NaN,1.0
195,2.0,1,38.0,44.0,12.0,3.0,NaN,1.0
213,1.0,1,37.6,45.0,12.0,3.0,NaN,1.0
234,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
260,2.0,1,38.0,40.0,25.0,NaN,4.0,1.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
280,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0

In [535]:
# Заменим найденные пропуски в столбцах 'temperature of extremities' и 'pain' на 1 - значения, соответствующие здоровым лошадям
temp_1_healthy_copy=temp_1_healthy.fillna(1)
temp_1_healthy=temp_1_healthy_copy

In [536]:
temp_1_sick

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,38.1,60.0,24.0,3.0,NaN,2.0
8,2.0,1,38.2,80.0,36.0,3.0,4.0,3.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.1,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [537]:
# для группы "нездоровых" лошадей все еще много пропусков, известны три варианта исхода и возможны 12 комбинаций пар значений
# для столбцов 'temperature of extremities' и 'pain'. Посмотрим какие значения в столбцах 'temperature of extremities' и 'pain'
# встречаются чаще всего для каждого из исходов и для лошадей с операцией и без нее. Этими значениями и заменим пропуски  

print('После операции, жива: ',temp_1_sick.loc[(temp_1['surgery?']==1) & (temp_1['outcome']==1)][['temperature of extremities', 'pain']].mode())
print('Без операции, жива: ',temp_1_sick.loc[(temp_1['surgery?']==2) & (temp_1['outcome']==1)][['temperature of extremities', 'pain']].mode())
print('После операции, умерла: ',temp_1_sick.loc[(temp_1['surgery?']==1) & (temp_1['outcome']==2)][['temperature of extremities', 'pain']].mode())
print('Без операции, умерла: ',temp_1_sick.loc[(temp_1['surgery?']==2) & (temp_1['outcome']==2)][['temperature of extremities', 'pain']].mode())
print('После операции, усыпили: ',temp_1_sick.loc[(temp_1['surgery?']==1) & (temp_1['outcome']==3)][['temperature of extremities', 'pain']].mode())
print('Без операции, усыпили: ',temp_1_sick.loc[(temp_1['surgery?']==2) & (temp_1['outcome']==3)][['temperature of extremities', 'pain']].mode())

После операции, жива:     temperature of extremities  pain
0                         3.0   3.0
Без операции, жива:     temperature of extremities  pain
0                         3.0   3.0
После операции, умерла:     temperature of extremities  pain
0                         3.0   5.0
Без операции, умерла:     temperature of extremities  pain
0                         3.0   5.0
После операции, усыпили:     temperature of extremities  pain
0                         3.0   2.0
Без операции, усыпили:     temperature of extremities  pain
0                         3.0   4.0

In [538]:
# Независимо от исхода для "нездоровых" лошадей наиболее часто встречается значение 'temperature of extremities'=3
# Соответственно произведем замену:
temp_1_sick_copy=temp_1_sick['temperature of extremities'].copy().fillna(3)
temp_1_sick['temperature of extremities']=temp_1_sick_copy

<ipython-input-538-e2f79c4c3b66>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_1_sick['temperature of extremities']=temp_1_sick_copy

In [539]:
# Для выживших заменим пропуски в 'pain' на 3
temp_1_sick_copy=temp_1_sick.copy().loc[(temp_1['outcome']==1),'pain'].fillna(3)
temp_1_sick.loc[(temp_1['outcome']==1),'pain'] = temp_1_sick_copy

D:\Data_science\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [540]:
# Для умерших проставим в 'pain' = 5
temp_1_sick_copy=temp_1_sick.copy().loc[(temp_1['outcome']==2), 'pain'].fillna(5)
temp_1_sick.loc[(temp_1['outcome']==2), 'pain'] = temp_1_sick_copy

D:\Data_science\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [541]:
# Для лошадей, которых усыпили, укажем разные значения в столбце 'pain' для операции и без нее:
temp_1_sick_copy = temp_1_sick.copy().loc[(temp_1['surgery?']==1) & (temp_1['outcome']==3), 'pain'].fillna(2)
temp_1_sick.loc[(temp_1['surgery?']==1) & (temp_1['outcome']==3), 'pain'] = temp_1_sick_copy

temp_1_sick_copy = temp_1_sick.copy().loc[(temp_1['surgery?']==2) & (temp_1['outcome']==3), 'pain'].fillna(4)
temp_1_sick.loc[(temp_1['surgery?']==2) & (temp_1['outcome']==3), 'pain'] = temp_1_sick_copy

D:\Data_science\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
D:\Data_science\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [542]:
temp_1_sick

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
4,2.0,1,37.3,104.0,35.0,3.0,5.0,2.0
7,1.0,1,38.1,60.0,24.0,3.0,5.0,2.0
8,2.0,1,38.2,80.0,36.0,3.0,4.0,3.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.1,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,2.0,3.0

In [543]:
# Получаем группу взрослых лошадей без пропусков
temp_1 = pd.concat([temp_1_healthy, temp_1_sick]).sort_index()
temp_1

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,3.0,5.0,2.0
5,2.0,1,38.2,54.0,24.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.1,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,2.0,3.0

In [544]:
# Теперь все то же самое проделаем для молодых лошадей. Объеденим всех молодых лошадей в одну группу:
temp_2 = pd.concat([temp_22, temp_21]).sort_index()
temp_2

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,2,38.3,90.0,30.0,1.0,5.0,1.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,2,38.6,128.0,36.0,3.0,4.0,2.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
75,1.0,2,39.7,100.0,60.0,3.0,2.0,3.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,2,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,2,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,2,38.6,100.0,44.0,2.0,4.0,1.0
212,1.0,2,38.9,120.0,30.0,1.0,3.0,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,2,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0

In [545]:
# Выборка получилась небольшая и какие-либо явные закономерности я выделить не могу. Вижу что пропуски есть для двух исходов
# outcome = 1 и outcome=2. 
# Посмотрим какие значения в столбцах 'temperature of extremities' и 'pain' встречаются чаще всего для каждого из исходов 
# и для лошадей с операцией и без нее.  

print('После операции, жива: ',temp_2.loc[(temp_2['surgery?']==1) & (temp_2['outcome']==1)][['temperature of extremities', 'pain']].mode())
print('Без операции, жива: ',temp_2.loc[(temp_2['surgery?']==2) & (temp_2['outcome']==1)][['temperature of extremities', 'pain']].mode())
print('После операции, умерла: ',temp_2.loc[(temp_2['surgery?']==1) & (temp_2['outcome']==2)][['temperature of extremities', 'pain']].mode())
print('Без операции, умерла: ',temp_2.loc[(temp_1['surgery?']==2) & (temp_2['outcome']==2)][['temperature of extremities', 'pain']].mode())

После операции, жива:     temperature of extremities  pain
0                         1.0   3.0
Без операции, жива:     temperature of extremities  pain
0                         1.0   4.0
1                         2.0   5.0
После операции, умерла:     temperature of extremities  pain
0                         3.0   2.0
1                         NaN   3.0
2                         NaN   4.0
3                         NaN   5.0
Без операции, умерла:  Empty DataFrame
Columns: [temperature of extremities, pain]
Index: []

In [546]:
# Тоже все не однозначно. Для выживших после операции проставим 'temperature of extremities' = 1 и 'pain' = 3

temp_2_copy=temp_2.copy().loc[(temp_2['surgery?']==1) 
                & (temp_2['outcome']==1),'temperature of extremities'].fillna(1)
temp_2.loc[(temp_2['surgery?']==1) 
                & (temp_2['outcome']==1),'temperature of extremities'] = temp_2_copy

temp_2_copy=temp_2.copy().loc[(temp_2['surgery?']==1) 
                & (temp_2['outcome']==1),'pain'].fillna(3)
temp_2.loc[(temp_2['surgery?']==1) 
                & (temp_2['outcome']==1),'pain'] = temp_2_copy

# Среди умерших есть пропуски для одной лошади. Предположу, что для нее 'temperature of extremities'= 3 - во первых как
# наиболее часто встречающийся показатель для молодых умерших лошадей, во вторых высокий пульс согласно справочной информации
# может наблюдаться у животных с болезненными поражениями или страдающих от шока кровообращения, а при шоке возможны холодные 
# конечности.По болевым ощущениям значения распределилилсь примерно одинаково. Поэтому возьму наиболее частый случай для
# взрослых лошадей 'pain' = 5. 

temp_2_copy=temp_2.copy().loc[(temp_2['outcome']==2),'temperature of extremities'].fillna(3)
temp_2.loc[(temp_2['outcome']==2),'temperature of extremities'] = temp_2_copy

temp_2_copy=temp_2.copy().loc[(temp_2['outcome']==2),'pain'].fillna(5)
temp_2.loc[(temp_2['outcome']==2),'pain'] = temp_2_copy

# Осталось три выживших без операции лошади с пропусками. Одна из них явно была в шоке - у нее пульс был 150 и частота 
# дыхания 72 и повышенная до 39 температура. Вообще непонятно как она выжила. У других лошадей тоже повышенная температура
# но пульс ниже. Будем оталкиваться от того, что горячие конечности должны коррелировать с повышенной ректальной температурой,
# поэтому проставим 'temperature of extremities' = 2.  
# Для выживших без операции встречается два значения боли 4 и 5. Т.к операция им не понадобилась, то я надеюсь, что
# боль была не сильной (или не постоянной). Пусть будет 'pain' = 4
temp_2_copy=temp_2.copy().loc[(temp_2['surgery?']==2) & (temp_2['outcome']==1),'temperature of extremities'].fillna(2)
temp_2.loc[(temp_2['surgery?']==2) 
                & (temp_2['outcome']==1),'temperature of extremities'] = temp_2_copy

temp_2_copy=temp_2.copy().loc[(temp_2['surgery?']==2) 
                & (temp_2['outcome']==1),'pain'].fillna(4)
temp_2.loc[(temp_2['surgery?']==2) 
                & (temp_2['outcome']==1),'pain'] = temp_2_copy
temp_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 3 to 287
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    22 non-null     float64
 1   Age                         22 non-null     int64
 2   rectal temperature          22 non-null     float64
 3   pulse                       22 non-null     float64
 4   respiratory rate            22 non-null     float64
 5   temperature of extremities  22 non-null     float64
 6   pain                        22 non-null     float64
 7   outcome                     22 non-null     float64
dtypes: float64(7), int64(1)
memory usage: 2.1 KB

In [547]:
# Итоговый датафрейм без пропусков:
result= pd.concat([temp_1, temp_2]).sort_index()
result

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,3.0,5.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.1,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,2.0,3.0

In [548]:
# Это для сравнения - как было до заполнения пропусков
new_result_data

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0